*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}
.nav-container{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 1rem 2rem;
}

.nav-item2{
    display: flex;
    gap: 2rem;
}
.nav-item2 a{
    text-decoration: none;
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: .5rem;
    padding: 0px 2rem;
}
.form h1{
    text-align: center;
}
.form button{
    align-self: flex-start;
    padding: .3rem;
    width: 12rem;
    cursor: pointer;
    background-color: black;
    color: white;
}
.form input{
    padding-left: .2rem;
}
.form input:focus{
    outline: none;
}
.your-profile{
    padding: 1rem;
    background-color: green;
    color: white;
    width: fit-content;
    margin: 1rem 2rem;
    border-radius: .5rem;
    box-shadow: 1px 1px gray;
}

.cart{
    position: relative;
    /* border: 1px solid red; */
}

.digit{
    position: absolute;
    top: -0.5rem;
    left: .5rem;
    color: white;
    background-color:red;
    border-radius: 100%;
    width: 1rem;
    text-align: center;
    border: 2px solid white;
    font-size: 12px;
    font-weight: 600;
}