*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.nav-container{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 1rem 2rem;
    position: sticky;
    z-index: 5;
    top:0;
}

.nav-item2{
    display: flex;
    gap: 2rem;
}
.nav-item2 a{
    text-decoration: none;
    color: white;
}



.filter{
    display: flex;
    flex-direction: column;
}
.filter-container{
    display: flex;
    gap: .5rem;
    margin-top: .2rem;
    width: 100%;
}

.filter-itmes{
    color:white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    /* position: fixed;
    top: 3.4rem;
    bottom: 0;
    left: 0; */
    padding: 2rem 10px;
    width: 10%;
    height: 80vh;
}


.product:hover{
    transform: scale(1.02);
    transition: .5s ease-in-out;
    outline: 1px solid gray;
}
.product img{
    width: 100%;
    height: 15rem;
}
.shop-data{
    /* margin-left:10rem; */
    /* margin-top: .2rem; */
    width: 90%;
}
.product-container{
    display: flex;
    justify-content:flex-start;
    flex-flow: row wrap;
    width: 100%;
    margin-top: .5rem;
    /* gap: 1rem; */
    /* border: 1px solid red; */
}
.product{
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    outline: 1px solid aliceblue;
    padding: 0.5rem 1%;
}
.search-input{
    /* display: flex; */
    width:100%;
    /* flex-grow: 1; */
   /* margin-right: 30rem; */
   position: sticky;
   top: 3.5rem;
   z-index: 10;
   background-color: transparent;
   /* border: none; */
   padding: .8rem .5rem;
   border-radius: 1rem;
}

.addToCartButton{
    background-color: black;
    color: white;
    padding: .3rem 0;
    cursor: pointer;
}

.notFound{
    /* text-align: center; */
    font-size: 2rem;
    font-weight: 800;
    /* margin-top: 10rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 40rem; */
    width: 100%;
    height: 100%;
}

.category-buttons{
    display: flex;
    justify-content: space-between;
    margin:.5rem 0rem;
    width: 100%;
}
.category-buttons button{
    background-color: inherit;
    width: 15%;
    padding:.5vw 0;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    /* color: aqua;
    border: 1px solid aqua; */
}
.category-buttons button::before{
    content: '';
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    width:0%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.category-buttons button:hover::before{
    width: 100%;
    z-index: -1;
}

.category-buttons button:hover{
    color: white;
    border: none;
}
.cart{
    position: relative;
    /* border: 1px solid red; */
}

.digit{
    position: absolute;
    top: -0.5rem;
    left: .5rem;
    color: white;
    background-color:red;
    border-radius: 100%;
    width: 1rem;
    text-align: center;
    border: 2px solid white;
    font-size: 12px;
    font-weight: 600;
}

.color-container{
    display: flex;
    gap: 3px;
}
.color-container:nth-child(0){
    color: green;
}
.color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#all{
    background-color: black;
    color: white;
}